h1{
    text-align: center;
    color: azure;
    background-color: black;
    font-size: 65px;
}
.pizza{
    background-image: url(https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);
}
input{
    display: block;
}
#formz{
    border: solid yellowgreen 20px;
    width: 14%;
    margin-left: 38%;
    padding: 0.5%;
    border-radius: 20%;
}
.btn{
    background-color: unset;
}
.footer{
    background-image: url(https://cdn.dribbble.com/users/1787323/screenshots/9712559/cute_pizza-02.png);
}